{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <meta name="description" content="Smarthr - Bootstrap Admin Template">
		<meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
        <meta name="author" content="Dreamguys - Bootstrap Admin Template">
        <meta name="robots" content="noindex, nofollow">
        <title>Blank Page - HRMS admin template</title>
		
		<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.png' %}">
		{% static '' %}
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
		
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
		
		<!-- Lineawesome CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/line-awesome.min.css' %}">
		
		{% block style %}
		{% endblock style %}
		<!-- Main CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

		
		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="{% static 'assets/js/html5shiv.min.js' %}"></script>
			<script src="{% static 'assets/js/respond.min.js' %}"></script>
		<![endif]-->
    </head>
    <body>
		<!-- Main Wrapper -->
        <div class="main-wrapper">
		
			<!-- Header -->
            {% include 'header.html' %}
			<!-- /Header -->
			
			<!-- Sidebar -->
            {% include 'sidebar.html' %}
			<!-- /Sidebar -->
			
			<!-- Page Wrapper -->
            <div class="page-wrapper">
			
				<!-- Page Content -->
                <div class="content container-fluid">
					
					<!-- Page Header -->
					<div class="page-header">
						<div class="row">
							<div class="col-sm-12">
								<h3 class="page-title">{{title}}</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
									<li class="breadcrumb-item active"> {{title}} </li>
								</ul>
							</div>
							{% block head_content %}
							{% endblock head_content %}
						</div>
					</div>
					<!-- /Page Header -->
					
					<!-- Content Starts -->
						{% block content %}


						{% endblock content %}						
					<!-- /Content End -->
					
                </div>
				<!-- /Page Content -->
				
            </div>
			<!-- /Page Wrapper -->
			
        </div>
		<!-- /Main Wrapper -->
		
		<!-- jQuery -->
        <script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="{% static 'assets/js/popper.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
		
		<!-- Slimscroll JS -->
		<script src="{% static 'assets/js/jquery.slimscroll.min.js' %}"></script>
		{% block js %}
		{% endblock js %}
		<!-- Custom JS -->
		<script src="{% static 'assets/js/app.js' %}"></script>
		
		
    </body>
</html>